<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="Core" action="index" />
    <route url="/accueil" module="Core" action="index" />
    <route url="/home" module="Core" action="index" />
    <route url="/index" module="Core" action="index" />

    <route url="/profil" module="Core" action="profile" />
    <route url="/profile" module="Core" action="profile" />

    <route url="/gallery" module="Gallery" action="index" />
    <route url="/gallery/item-([0-9]+)" module="Gallery" action="item" vars="id"/>
    <route url="/gallery/category-([0-9]+)" module="Gallery" action="category" vars="id"/>

    <route url="/contact" module="Core" action="contact" />

    <route url="/chinesePortrait" module="ChinesePortrait" action="index" />
</routes>