/* DEFINITION POLICES DE CARACTERE */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "Stentiga";
    src: url("/fonts/stentiga.ttf");
}

/* -------------------- */
/* ------- BODY ------- */
/* -------------------- */

body {
    background: url("/images/pattern.png");
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
}

/* ------------------------------- */
/* ------- CONTENT SECTION ------- */
/* ------------------------------- */

.contentSection {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.contentSection:nth-child(even) {
    flex-direction: row-reverse;
}

/* Content Section Left*/
.contentSectionLeft {
    animation: fadeFromLeft 1s both;
    background-size: cover;
    border-right: solid 1.4vw #000000;
    flex: 45;
    overflow: hidden;
    padding: 0 2.5rem 0 0;
    position: relative;
    transform-origin: top;
}

.contentSectionLeft>* {
    transform: skewX(16deg);
    transform-origin: top;
}

.contentSectionLeft img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.contentSection:nth-child(even)>.contentSectionLeft {
    animation: fadeFromRight 1s both;
    border-left:  solid 1.4vw #000000;
    border-right: none;
    transform-origin: bottom;
}

.contentSection:nth-child(even)>.contentSectionLeft img {
    left: initial;
    right: 0;
}

/* Content Section Right*/
.contentSection:nth-child(even)>.contentSectionRight {
    animation: fadeFromLeft 1s both;
    border-left: none;
    border-right: solid 2.1vw;
    border-image: linear-gradient(to right, #ff9900 90%, #ffffff 92%) 1 100%;
    text-align: right;
    transform-origin: bottom;
}

.contentSectionRight {
    animation: fadeFromRight 1s both;
    border-left: solid 2.1vw;
    border-image: linear-gradient(to right, #ffffff 8%, #ff9900 10%) 1 100%;
    box-sizing: border-box;
    flex: 55;
    padding: 0 1.5rem;
    max-width: 55vw;
    z-index: 100;
    transform-origin: top;
}

.contentSectionRight::after {
    border-left: none;
    border-right: solid 3.5vw;
    left: -100%;
    transform-origin: bottom;
}

.contentSectionRight>* {
    transform: skewX(16deg);
    transform-origin: top;
}
.contentSection:nth-child(even)>.contentSectionRight>* {
    transform-origin: bottom;
}

/* h2 */
.contentSection h2 {
    color: #ff9900;
    display: inline-block;
    font-size: 1.3rem;
    margin: 1.5rem 0 1.5rem 0;
    padding: 10px;
    position: relative;
}

.contentSection:first-child h2 {
    margin: 0 0 1.5rem 0;
}

.contentSection h2::before,
.contentSection h2::after,
.contentSection h3::before,
.contentSection h3::after {
    box-sizing: border-box;
    border: #ff9900 solid 2px;
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    transform: skewX(-16deg);
    z-index: -1;
}
.contentSection h2::after {
    border-left: none;
    transform-origin: bottom;
}
.contentSection h2::before {
    border-right: none;
    transform-origin: top;
}
.contentSection h3::after {
    border: none;
    border-top: 2px solid;
    border-image: linear-gradient(to bottom left, #ff9900, rgba(0,0,0,0) 60%) 1;
    transform-origin: bottom;
}
.contentSection h3::before {
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(to top right, #ff9900, rgba(0,0,0,0) 60%) 1;
    transform-origin: top;
}

/* h3 */
.contentSection h3 {
    display: inline-block;
    font-size: 1.1rem;
    margin: 1rem 0;
    padding: 8px;
    position: relative;
    color: #ff9900;
}

.contentSectionRight>section {
    transform: skewX(0deg);
    transform-origin: top;
}
.contentSectionRight>section>*:not(.imgGallery) {
    transform: skewX(16deg);
    transform-origin: top;
}

/* h4 */
.contentSection h4 {
    color: #111111;
    margin: 0.5em 0;
    text-align: center;
}

/* ------------------- */
/* ------- NAV ------- */
/* ------------------- */

nav {
    display: flex;
    align-items: flex-start;
    margin: 1.5rem 0;
}

.leftNav {
    justify-content: flex-end;
}

nav .selectPage {
    font-size: 1.5rem;
}

nav a {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:not(:last-child) {
    margin: 0 2rem 0 0;
}

nav a::after, nav a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: #ff9900;
    transform: skew(-16deg);
    transform-origin: top;
    z-index: -1;
}

nav a::before, nav a:hover::before {
    border-right: none;
}

nav a::after, nav a:hover::after {
    transform-origin: bottom;
    border-left: none;
}

nav svg {
    height: 1em;
    width: 0;
    fill: #ffffff;
    transition: width 1s;
}

.selectPage svg {
    width: 1em;
    margin: 0 5px 0 0;
}

nav a:hover svg {
    display: initial;
    margin: 0 5px 0 0;
    width: 1em;
}

nav h1 {
    display: inline;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

@keyframes fadeFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: skewX(-16deg);
    }
}

@keyframes fadeFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: skewX(-16deg);
    }
}

/* ---------------------- */
/* ----- ITEM UL ----- */
/* ---------------------- */

.itemUl {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.itemUl  li {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 3rem;
    margin: 0 calc(1rem + 0.6 * 3rem) 0 0;
    padding: 0 1rem 0 0;
    position: relative;
}

.itemUl li::after,
.itemUl li::before {
    content: '';
    display: block;
    position: absolute;
    transform: skewX(-16deg);
}
.itemUl li::after {
    background-color: #ffffff;
    top: 0; left: 0; bottom: 0; right: 0;
    transform-origin: bottom;
    z-index: -1;
}
.itemUl li::before {
    background-color: #ff9900;
    height: inherit;
    top: 0; left: 0;
    transform-origin: top;
    width: calc(1.3 * 3rem);
}

.itemUl a {
    color: #0077ff;
    text-decoration: none;
}

.itemUl a:hover {
    text-decoration: underline #0077ff;
}

.itemUl svg {
    background-color: #ff9900;
    box-sizing: border-box;
    fill: #ffffff;
    height: 3rem;
    padding: 10px;
    position: relative;
    margin: 0 1rem 0 0;
    width: 3rem;
    z-index: 1;
}

/* ---------------------- */
/* ----- FORMULAIRE ----- */
/* ---------------------- */

form {
    text-align: center;
}

form div {
    display: flex;
    margin-bottom: 1rem;
}

.textAreaBox {
    flex-direction: column;
}

label {
    position: relative;
    padding: 3px 6px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #ff9900;
    z-index: 100;
}

label::before {
    position: absolute;
    top: 0; right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewX(-16deg);
    transform-origin: bottom;
    z-index: -1;
}

.textAreaBox label::before {
    display: none;
}

label span {
    font-weight: bold;
    color: #ee0000;
}

input {
    transition: border 0.1s;
}

input + label {
    margin-left: 1rem;
}

input[type="text"], input[type="email"] {
    flex: 1;
    position: relative;
    padding-left: 10px;
    border: none;
    z-index: 1;
}

input:hover, input:focus {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #ff9900, rgba(0,0,0,0)) 1;
    outline: none;
}

input[required]:valid {
    background-color: #99ff99;
}

input[type="submit"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
    transition: background 0.4s, text-shadow 0.4s;
}

input[type="submit"]:hover {
    background-color: #ff8000;
    text-shadow: 0.5px 1px 1.5px rgba(0,0,0, 0.5);
}

input[type="submit"]:active {
    background-color: #ffbb00;
    transform: skewX(-16deg);
    text-shadow: 0.5px 1px 1.5px rgba(0,0,0, 0.5);
}

textarea {
    flex: 1;
    border: none;
    font-size: 1rem;
    transition: border 0.1s;
}

textarea:hover, textarea:focus {
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #ff9900, rgba(0,0,0,0)) 1;
    outline: none;
}

/* ------------------ */
/* ----- BUTTON ----- */
/* ------------------ */

.buttonRack button {
    background-color: #ff9900;
    border: none;
    height: 15vh;
    position: relative;
    width: 15vh;
}

.buttonRack button::after,
.buttonRack button::before {
    background-color: #ff9900;
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    transform: skewX(-16deg);
    z-index: -10;
}
button::after {
    transform-origin: bottom;
}
button::before {
    transform-origin: top;
}

/* BUTTON RACK */
.buttonRack {
    display: flex;
    justify-content: center;
    margin: auto;
}
.buttonRack button {
    cursor: pointer;
    fill: #ffffff;
    padding: 2rem;
}
.buttonRack a:not(:first-child) button{
    margin: 0 0 0 calc(2rem + 0.3 * 15vh);
}

/* ------------------------ */
/* ----- PROGRESS BAR ----- */
/* ------------------------ */

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    flex: 1;
    height: 1.2rem;
    width: calc(100% - 1.2rem);
    transform: skewX(-16deg);
    transform-origin: bottom;
    visibility: visible;
}

::-webkit-progress-value {
    background-color: #ff9900;
}

.progressBox {
    display: flex;
    position: relative;
    text-align: initial;
}

.indicatorProgress {
    color: #fff;
    position: absolute;
    top: 0; left: 1em;
}

/* ================ */
/* ===== HOME ===== */
/* ================ */
.namePerso {
    display: block;
    font-family: "Stentiga", "Montserrat", sans-serif;
    font-size: 7rem;
}
.descPerso {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}

/* ============================ */
/* ===== PORTRAIT CHINOIS ===== */
/* ============================ */

.chinesePortraitElement,
.skillItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.chinesePortraitElement:nth-child(odd) {
    flex-direction: row-reverse;
}

.chinesePortraitElement div:not(:first-child) {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(2em + 16px);
    padding: 5px 1rem;
    position: relative;
}

.chinesePortraitElement div::before,
.chinesePortraitElement div::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    transform: skewX(-16deg);
    transform-origin: top;
    z-index: -10;
}
.chinesePortraitElement div::before {
    background-color: #ffffff;
    height: 100%;
    left: 0;
    width: 100%;
}
.chinesePortraitElement div::after {
    background-color: #ff9900;
    height: calc(2em + 16px);
    left: calc(-2em - 16px);
    width: calc(2em + 16px + 0.3 * (2em + 16px));
    z-index: 1;
}
.chinesePortraitElement:nth-child(even) div::before,
.chinesePortraitElement:nth-child(odd) div::after {
    transform-origin: bottom;
}
.chinesePortraitElement:nth-child(odd) div::after {
    left: initial;
    right: calc(-2em - 16px);
}

.chinesePortraitElement span:nth-child(2n){
    text-align: right;
}

.chinesePortraitElement svg,
.skillItem svg {
    position: relative;
    width: 2em;
    height: 2em;
    padding: 8px;
    fill: #fff;
    background-color: #f90;
    z-index: 2;
}

/* ================== */
/* ===== SKILLS ===== */
/* ================== */

#skills .contentSectionRight{
    text-align: center;
}

.skillsSection {
    margin: 0 0 1rem 0;
}
.skillsSection>* {
    transform: skewX(16deg);
    transform-origin: bottom !important;
}

.skillItem h4 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 1rem;
    flex: 1;
    height: calc(2em + 16px);
    text-transform: none;
}

/* =================== */
/* ===== GALLERY ===== */
/* =================== */
.catSelector {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.catSelector li {
    cursor: pointer;
    padding: 3px;
    position: relative;
    text-transform: uppercase;
}

.catSelector li:not(:last-child) {
    margin: 0 1rem 0 0;
}

.catSelected {
    color: #ffffff;
}

.itemsGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
}

.itemsGallery>* {
    box-sizing: border-box;
    margin: 0 0 2rem 0;
    padding: 0 3%;
    position: relative;
    width: calc(1/3 * 100%);
}

.itemsGallery h4 {
    font-size: 0.8rem;
}

.itemsGallery a {
    text-decoration: none;
}

.itemsGallery img {
    position: relative;
    transform: rotate(-10deg);
    width: 100%;
}

.imgContainer {
    position: relative;
    margin: 10% 0;
}

.imgContainer::after,
.catSelected::after,
.catSelected::before,
.catSelector li:hover::after,
.catSelector li:hover::before {
    background-color: #ff9900;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    transform: skewX(-16deg);
    z-index: -10;
}

.programmation::after {
    background-color: #0D58A6;
}

.infographie::after {
    background-color: #27AF82;
}

.catSelector li:not(.catSelected):hover {
    color: #ff9900;
    font-weight: bold;
}
.catSelector li:not(.catSelected):hover::after,
.catSelector li:not(.catSelected):hover::before {
    background-color: rgba(0,0,0,0);
    border: solid 2px #ff9900;
    box-sizing: border-box;
}
.catSelected::after,
.catSelector li:not(.catSelected):hover::after {
    border-left: none;
    transform-origin: bottom;
}
.catSelected::before,
.catSelector li:not(.catSelected):hover::before {
    border-right: none;
    transform-origin: top;
}

/* Img Gallery */
.imgGallery {
    justify-content: center;
    border: 2px solid #ff9900;
    display: flex;
    height: 30vh;
    overflow: hidden;
    position: relative;
}

.imgGallery button {
    background-color: #ff9900;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 0; bottom: 0;
    z-index: 10;
}
.imgGallery button:first-of-type {
    left: 0;
}
.imgGallery button:last-of-type {
    right: 0;
}

.imgGallery ul {
    display: flex;
    height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    white-space: nowrap;
}

.imgGallery li {
    display: inline-block;
    height: inherit;
    list-style-type: none;
    padding: 0 1rem;
}

.imgGallery img {
    height: inherit;
    transform: skewX(16deg);
    transform-origin: top;
}

/* ************************* */
/* ***** MEDIA QUERIES ***** */
/* ************************* */

@media screen and (max-width: 1280px) {
    nav a {
        min-height: calc(1.33333333333rem);
    }

    nav a span{
        font-size: 0;
        transition: all 1s;
        transition: font-size 1s;
    }

    nav a:hover span {
        font-size: 1.33333333333rem;
    }

    nav a svg {
        width: 1em;
    }
}