/* DEFINITION POLICES DE CARACTERE */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* -------------------- */
/* ------- BODY ------- */
/* -------------------- */

body {
    background: url("/images/pattern.png");
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/* ------------------------------- */
/* ------- CONTENT SECTION ------- */
/* ------------------------------- */

.contentSection {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.contentSection:nth-child(even) {
    flex-direction: row-reverse;
}

/* Content Section Left*/
.contentSectionLeft {
    animation: fadeFromLeft 1s both;
    background-size: cover;
    border-right: solid 1.4vw #000000;
    flex: 45;
    overflow: hidden;
    padding: 0 2.5rem 0 0;
    position: relative;
    transform-origin: top;
}

.contentSectionLeft>* {
    transform: skewX(16deg);
    transform-origin: top;
}

.contentSectionLeft img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.contentSection:nth-child(even)>.contentSectionLeft {
    animation: fadeFromRight 1s both;
    border-left:  solid 1.4vw #000000;
    border-right: none;
    transform-origin: bottom;
}

.contentSection:nth-child(even)>.contentSectionLeft img {
    left: initial;
    right: 0;
}

/* Content Section Right*/
.contentSection:nth-child(even)>.contentSectionRight {
    animation: fadeFromLeft 1s both;
    border-left: none;
    border-right: solid 2.1vw;
    border-image: linear-gradient(to right, #ff9900 90%, #ffffff 92%) 1 100%;
    text-align: right;
    transform-origin: bottom;
}

.contentSectionRight {
    animation: fadeFromRight 1s both;
    border-left: solid 2.1vw;
    border-image: linear-gradient(to right, #ffffff 8%, #ff9900 10%) 1 100%;
    flex: 55;
    padding: 0 1.5rem;
    z-index: 100;
    transform-origin: top;
}

.contentSectionRight::after {
    border-left: none;
    border-right: solid 3.5vw;
    left: -100%;
    transform-origin: bottom;
}

.contentSectionRight>* {
    transform: skewX(16deg);
    transform-origin: top;
}

/* h2 */
.contentSection h2 {
    color: #ff9900;
    display: inline-block;
    font-size: 1.3rem;
    margin: 1.5rem 0 1.5rem 0;
    padding: 10px;
    position: relative;
}

.contentSection:first-child h2 {
    margin: 0 0 1.5rem 0;
}

.contentSection h2::before,
.contentSection h2::after {
    box-sizing: border-box;
    border: #ff9900 solid 2px;
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    transform: skewX(-16deg);
    transform-origin: top;
    z-index: -1;
}
.contentSection h2::after {
    transform-origin: bottom;
    border-left: none;
}
.contentSection h2::before {
    border-right: none;
}

/* h3 */
.contentSection h3 {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0;
    padding: 8px;
    position: relative;
    border-top: 2px solid #ff9900;
    border-bottom: 2px solid #ff9900;
    color: #ff9900;
}
.contentSection h3::before,
.contentSection h3::after {
    content: '';
    border-bottom: 2px solid #ff9900;
    border-left: 2px solid #ff9900;
    display: inline-block;
    position: absolute;
    height: 22px;
    top: 0;
    width: 22px;
}
.contentSection h3::before {
    transform: rotate(36deg)
    skewY(20deg);
    left: 0;
}
.contentSection h3::after {
    transform: rotate(216deg)
    skewY(20deg);
    right: 0;
}


.contentSection h4 {
    color: #ff9900;
    margin: 0.5em 0;
    text-align: center;
}

/* ------------------- */
/* ------- NAV ------- */
/* ------------------- */

nav {
    display: flex;
    align-items: flex-start;
    margin: 1.5rem 0;
}

.leftNav {
    justify-content: flex-end;
}

nav .selectPage {
    font-size: 1.5rem;
}

nav a {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:not(:last-child) {
    margin: 0 2rem 0 0;
}

nav a::after, nav a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: #ff9900;
    transform: skew(-16deg);
    transform-origin: top;
    z-index: -1;
}

nav a::before, nav a:hover::before {
    border-right: none;
}

nav a::after, nav a:hover::after {
    transform-origin: bottom;
    border-left: none;
}

nav svg {
    height: 1em;
    width: 0;
    fill: #ffffff;
    transition: width 1s;
}

.selectPage svg {
    width: 1em;
    margin: 0 5px 0 0;
}

nav a:hover svg {
    display: initial;
    margin: 0 5px 0 0;
    width: 1em;
}

nav h1 {
    display: inline;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

@keyframes fadeFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: skewX(-16deg);
    }
}

@keyframes fadeFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: skewX(-16deg);
    }
}

/* ---------------------- */
/* ----- FORMULAIRE ----- */
/* ---------------------- */

form {
    text-align: center;
}

form div {
    display: flex;
    margin-bottom: 1rem;
}

.textAreaBox {
    flex-direction: column;
}

label {
    position: relative;
    padding: 3px 6px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #ff9900;
    z-index: 100;
}

label::before {
    position: absolute;
    top: 0; right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewX(-16deg);
    transform-origin: bottom;
    z-index: -1;
}

.textAreaBox label::before {
    display: none;
}

label span {
    font-weight: bold;
    color: #ee0000;
}

input {
    transition: border 0.1s;
}

input + label {
    margin-left: 1rem;
}

input[type="text"], input[type="email"] {
    flex: 1;
    position: relative;
    padding-left: 10px;
    border: none;
    z-index: 1;
}

input:hover, input:focus {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #ff9900, rgba(0,0,0,0)) 1;
    outline: none;
}

input[required]:valid {
    background-color: #99ff99;
}

input[type="submit"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
    transition: background 0.4s, text-shadow 0.4s;
}

input[type="submit"]:hover {
    background-color: #ff8000;
    text-shadow: 0.5px 1px 1.5px rgba(0,0,0, 0.5);
}

input[type="submit"]:active {
    background-color: #ffbb00;
    transform: skewX(-16deg);
    text-shadow: 0.5px 1px 1.5px rgba(0,0,0, 0.5);
}

textarea {
    flex: 1;
    border: none;
    font-size: 1rem;
    transition: border 0.1s;
}

textarea:hover, textarea:focus {
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #ff9900, rgba(0,0,0,0)) 1;
    outline: none;
}

/* ------------------------ */
/* ----- PROGRESS BAR ----- */
/* ------------------------ */

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.2rem;
    width: calc(100% - 1.2rem);
    transform: skewX(-16deg);
    transform-origin: bottom;
    visibility: visible;
}

::-webkit-progress-value {
    background-color: orange;
}

.progressBox {
    position: relative;
}

.indcateurProgress {
    position: absolute;
    top: 0; left: 1em;
    color: #fff;
}

/* ============================ */
/* ===== PORTRAIT CHINOIS ===== */
/* ============================ */

.chinesePortraitElement {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #fa0;
}

.chinesePortraitElement:nth-child(odd) {
    flex-direction: row-reverse;
}

.chinesePortraitElement div {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
    padding: 5px 1rem;
    background-color: #fff;
}

/*.chinesePortraitElement div::after,*/
.chinesePortraitElement div::before {
    display: block;
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    transform: skewX(-16deg);
    transform-origin: top;
    z-index: -10;
}

.chinesePortraitElement:nth-child(even) div::before {
    transform-origin: bottom;
}

/*.chinesePortraitElement div::after {*/
    /*background-color: #fa0;*/
    /*left: calc(-2em + -10px);*/
    /*transform-origin: bottom;*/
    /*width: calc(2em + 10px);*/
    /*z-index: 1;*/
/*}*/

.chinesePortraitElement:nth-child(odd) div::after {
    left: auto;
    right: calc(-2em + -10px);
    transform-origin: top;
}

.chinesePortraitElement span:nth-child(2n){
    text-align: right;
}

.chinesePortraitElement svg {
    position: relative;
    width: 2em;
    height: 2em;
    padding: 8px;
    fill: #fff;
    background-color: #fa0;
    z-index: 2;
}